/* all pages */

* {
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #265570;
}

#title {
    font-size: 5vw;
    font-style: italic;
    margin-bottom: 55px;
}  

/* Home Page */
#outer {
    /* centers links */
    display: flex;
    justify-content: center;
    align-items: center;
}

#balls {
    /* sets div border */
    padding: 5px;
    width:  fit-content;
    height: fit-content;
    border: 4px;
    border-style: solid;
    border-color: #01080D;
    position: static;
    /* setting z index of all links */
    z-index: 1;
}

#git {
    z-index: 0;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;

}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: inherit;
    color: white;
    transform: scale(2);
}

/* About Me */

#intro {
    font-family: 'Reenie Beanie', cursive;
    font-size: 25pt;
    margin: 0;
}

#description {
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
    border-top: 2px;
    border-left: 2px;
    border-right: 4px;
    border-bottom: 8px;
    border-color: #1484C4;
    border-style: outset;
}

#outro {
    font-family: 'Reenie Beanie', cursive;
    font-size: 25pt;
    margin: 25%;
}

#showPhoto {
    /* position: -webkit-sticky; */
    font-size:30px; 
    cursor: pointer; 
    background-color: inherit;
    border: 4px;
    border-style: solid;
    border-color: #01080D;
    margin: 25px;
}

#showPhoto:hover {
    border-color: white;
}

#resume {
    border: none;
    position: static; 
    padding-top: 10px;  
    width: 90%;
    height: 90%;
    text-align: center;
}

#bouncer {
    background-color: inherit;
    height: 30px;
    border: 4px;
    padding: 10%;
    display: inherit;
}

/* <!-- Resume Overlay --> */

#resumeShow {
    /* position: -webkit-sticky; */
    font-size:30px; 
    cursor: pointer; 
    background-color: inherit;
    border: 4px;
    border-style: solid;
    border-color: #01080D;
}

#resumeShow:hover {
    border-color: white;
    font-weight: bolder;
    font-style: italic;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(6, 12, 27);
    background-color: rgba(6, 12, 27, 0.9);
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

/* Footer */

#footer {
    background-color: #051D2B;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    border-top: 12px;
    border-bottom: 12px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #01080D;
}

#btnHM {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
}

#btnHM:hover {
    background-color: #1484C4;
}